---
layout: base
pagination:
  data: landingpage
  size: 1
  alias: t
  resolve: values
permalink: "/{% if t.locale != 'en' %}{{ t.locale | slugify }}/{% endif %}"
eleventyComputed:
  locale: "{{ t.locale }}"
  title: "{{ t.hero.title }}"
---

<h1>{{ t.hero.title }}</h1>

<button>{{ t.cta.title }}</button>
